[feature] Brand Indicators for Message Identification (BIMI) support

Dear OVH team,

Can you add BIMI support?

It is linked to other security/mail RFC supports:
- SPF
- DKIM
- DMARC
- ARC (Authenticated Received Chain) | https://github.com/ovh/collaborative-tools-roadmap/issues/50
- BIMI

Links:
- RFC 7208: Sender Policy Framework (SPF) for Authorizing Use of Domains in Email, Version 1: https://datatracker.ietf.org/doc/html/rfc7208
- RFC 6376: DomainKeys Identified Mail (DKIM) Signatures: https://datatracker.ietf.org/doc/html/rfc6376
- RFC 7489: Domain-based Message Authentication, Reporting, and Conformance (DMARC): https://datatracker.ietf.org/doc/html/rfc7489
- RFC 8617: The Authenticated Received Chain (ARC) Protocol: https://datatracker.ietf.org/doc/html/rfc8617
- I-Draft: Brand Indicators for Message Identification (BIMI): https://datatracker.ietf.org/doc/draft-brand-indicators-for-message-identification/