[feature] Authenticated Received Chain for emails

As an OVHcloud customer using **MXPLAN** (100 hosting)
I want **ARC (Authenticated Received Chain)** to **Emails** (Roundcube)
so that **mails sent to mailing lists** are received properly to the members of the mailing list.

ARC (Authenticated Received Chain) is crucial for mailing lists because it solves a key problem with traditional email authentication protocols like SPF, DKIM, and DMARC: these checks can fail when an email is sent through intermediary servers, such as mailing lists or forwarding services.

A lot of our members tell us they don't receive the mails from the mailing lists, or they are flagged as SPAM.

+1 for this important request.

It must have:
- SPF
- DKIM
- DMARC
- ARC (Authenticated Received Chain)
- BIMI

Links:
- RFC 7208: Sender Policy Framework (SPF) for Authorizing Use of Domains in Email, Version 1: https://datatracker.ietf.org/doc/html/rfc7208
- RFC 6376: DomainKeys Identified Mail (DKIM) Signatures: https://datatracker.ietf.org/doc/html/rfc6376
- RFC 7489: Domain-based Message Authentication, Reporting, and Conformance (DMARC): https://datatracker.ietf.org/doc/html/rfc7489
- RFC 8617: The Authenticated Received Chain (ARC) Protocol: https://datatracker.ietf.org/doc/html/rfc8617
- I-Draft: Brand Indicators for Message Identification (BIMI): https://datatracker.ietf.org/doc/draft-brand-indicators-for-message-identification/

I have done the ticket for BIMI here:
- https://github.com/ovh/collaborative-tools-roadmap/issues/77